webissues-server-1.1.4/client/webservices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://securitybugtracker/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://securitybugtracker/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/">

	<wsdl:types>
		<xsd:schema targetNamespace="http://securitybugtracker" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://securitybugtracker/V1" 
schemaLocation="http://localhost/security-bugtracker/webissues-server-1.1.4/client/webservices.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="adduser_input">
		<wsdl:part name="adduser" element="tns:adduser"/>
	</wsdl:message>
	<wsdl:message name="adduser_output">
		<wsdl:part name="adduser_Response" element="tns:adduser_Response"/>
	</wsdl:message>
	<wsdl:message name="addscan_input">
		<wsdl:part name="addscan" element="tns:addscan"/>
	</wsdl:message>
	<wsdl:message name="addscan_output">
		<wsdl:part name="addscan_Response" element="tns:addscan_Response"/>
	</wsdl:message>
	<wsdl:message name="addcode_input">
		<wsdl:part name="addcode" element="tns:addcode"/>
	</wsdl:message>
	<wsdl:message name="addcode_output">
		<wsdl:part name="addcode_Response" element="tns:addcode_Response"/>
	</wsdl:message>
	<wsdl:message name="getcodes_input">
		<wsdl:part name="getcodes" element="tns:getcodes"/>
	</wsdl:message>
	<wsdl:message name="getcodes_output">
		<wsdl:part name="getcodes_Response" element="tns:getcodes_Response"/>
	</wsdl:message>
	<wsdl:message name="editcode_input">
		<wsdl:part name="editcode" element="tns:editcode"/>
	</wsdl:message>
	<wsdl:message name="editcode_output">
		<wsdl:part name="editcode_Response" element="tns:editcode_Response"/>
	</wsdl:message>
	
	<wsdl:message name="addurl_input">
		<wsdl:part name="addurl" element="tns:addurl"/>
	</wsdl:message>
	<wsdl:message name="addurl_output">
		<wsdl:part name="addurl_Response" element="tns:addurl_Response"/>
	</wsdl:message>
	<wsdl:message name="geturls_input">
		<wsdl:part name="geturls" element="tns:geturls"/>
	</wsdl:message>
	<wsdl:message name="geturls_output">
		<wsdl:part name="geturls_Response" element="tns:geturls_Response"/>
	</wsdl:message>
	<wsdl:message name="editurl_input">
		<wsdl:part name="editurl" element="tns:editurl"/>
	</wsdl:message>
	<wsdl:message name="editurl_output">
		<wsdl:part name="editurl_Response" element="tns:editurl_Response"/>
	</wsdl:message>
	
	
	<wsdl:message name="addserver_input">
		<wsdl:part name="addserver" element="tns:addserver"/>
	</wsdl:message>
	<wsdl:message name="addserver_output">
		<wsdl:part name="addserver_Response" element="tns:addserver_Response"/>
	</wsdl:message>
	<wsdl:message name="editserver_input">
		<wsdl:part name="editserver" element="tns:editserver"/>
	</wsdl:message>
	<wsdl:message name="editserver_output">
		<wsdl:part name="editserver_Response" element="tns:editserver_Response"/>
	</wsdl:message>
	<wsdl:message name="getserverfromname_input">
		<wsdl:part name="getserverfromname" element="tns:getserverfromname"/>
	</wsdl:message>
	<wsdl:message name="getserverfromname_output">
		<wsdl:part name="getserverfromname_Response" element="tns:getserverfromname_Response"/>
	</wsdl:message>
	<wsdl:message name="addmember_input">
		<wsdl:part name="addmember" element="tns:addmember"/>
	</wsdl:message>
	<wsdl:message name="addmember_output">
		<wsdl:part name="addmember_Response" element="tns:addmember_Response"/>
	</wsdl:message>
	<wsdl:message name="deletemember_input">
		<wsdl:part name="deletemember" element="tns:deletemember"/>
	</wsdl:message>
	<wsdl:message name="deletemember_output">
		<wsdl:part name="deletemember_Response" element="tns:deletemember_Response"/>
	</wsdl:message>
	<wsdl:message name="addissue_input">
		<wsdl:part name="addissue" element="tns:addissue"/>
	</wsdl:message>
	<wsdl:message name="addissue_output">
		<wsdl:part name="addissue_Response" element="tns:addissue_Response"/>
	</wsdl:message>
	<wsdl:message name="editissue_input">
		<wsdl:part name="editissue" element="tns:editissue"/>
	</wsdl:message>
	<wsdl:message name="editissue_output">
		<wsdl:part name="editissue_Response" element="tns:editissue_Response"/>
	</wsdl:message>
	<wsdl:message name="deleteissue_input">
		<wsdl:part name="deleteissue" element="tns:deleteissue"/>
	</wsdl:message>
	<wsdl:message name="deleteissue_output">
		<wsdl:part name="deleteissue_Response" element="tns:deleteissue_Response"/>
	</wsdl:message>
	<wsdl:message name="deleteserver_input">
		<wsdl:part name="deleteserver" element="tns:deleteserver"/>
	</wsdl:message>
	<wsdl:message name="deleteserver_output">
		<wsdl:part name="deleteserver_Response" element="tns:deleteserver_Response"/>
	</wsdl:message>
	<wsdl:message name="deletecode_input">
		<wsdl:part name="deletecode" element="tns:deletecode"/>
	</wsdl:message>
	<wsdl:message name="deletecode_output">
		<wsdl:part name="deletecode_Response" element="tns:deletecode_Response"/>
	</wsdl:message>
	<wsdl:message name="deletescan_input">
		<wsdl:part name="deletescan" element="tns:deletescan"/>
	</wsdl:message>
	<wsdl:message name="deletescan_output">
		<wsdl:part name="deletescan_Response" element="tns:deletescan_Response"/>
	</wsdl:message>
	<wsdl:message name="addproject_input">
		<wsdl:part name="addproject" element="tns:addproject"/>
	</wsdl:message>
	<wsdl:message name="addproject_output">
		<wsdl:part name="addproject_Response" element="tns:addproject_Response"/>
	</wsdl:message>
	<wsdl:message name="editproject_input">
		<wsdl:part name="editproject" element="tns:editproject"/>
	</wsdl:message>
	<wsdl:message name="editproject_output">
		<wsdl:part name="editproject_Response" element="tns:editproject_Response"/>
	</wsdl:message>
	<wsdl:message name="deleteproject_input">
		<wsdl:part name="deleteproject" element="tns:deleteproject"/>
	</wsdl:message>
	<wsdl:message name="deleteproject_output">
		<wsdl:part name="deleteproject_Response" element="tns:deleteproject_Response"/>
	</wsdl:message>
	<wsdl:message name="getparamsfromalertid_input">
		<wsdl:part name="getparamsfromalertid" element="tns:getparamsfromalertid"/>
	</wsdl:message>
	<wsdl:message name="getparamsfromalertid_output">
		<wsdl:part name="getparamsfromalertid_Response" element="tns:getparamsfromalertid_Response"/>
	</wsdl:message>
	<wsdl:message name="finishscan_input">
		<wsdl:part name="finishscan" element="tns:finishscan"/>
	</wsdl:message>
	<wsdl:message name="finishscan_output">
		<wsdl:part name="finishscan_Response" element="tns:finishscan_Response"/>
	</wsdl:message>


	<wsdl:portType name="ws_securitybugtracker_PortType">
		<wsdl:operation name="adduser">
			<wsdl:documentation>WebService for adduser
			</wsdl:documentation>
			<wsdl:input message="tns:adduser_input"/>
			<wsdl:output message="tns:adduser_output"/>
		</wsdl:operation>
		<wsdl:operation name="addserver">
			<wsdl:documentation>WebService for addserver
			</wsdl:documentation>
			<wsdl:input message="tns:addserver_input"/>
			<wsdl:output message="tns:addserver_output"/>
		</wsdl:operation>
		<wsdl:operation name="addcode">
			<wsdl:documentation>WebService for addcode
			</wsdl:documentation>
			<wsdl:input message="tns:addcode_input"/>
			<wsdl:output message="tns:addcode_output"/>
		</wsdl:operation>
		<wsdl:operation name="editcode">
			<wsdl:documentation>WebService for editcode
			</wsdl:documentation>
			<wsdl:input message="tns:editcode_input"/>
			<wsdl:output message="tns:editcode_output"/>
		</wsdl:operation>
		<wsdl:operation name="getcodes">
			<wsdl:documentation>WebService for getcodes
			</wsdl:documentation>
			<wsdl:input message="tns:getcodes_input"/>
			<wsdl:output message="tns:getcodes_output"/>
		</wsdl:operation>
		
		
		
		<wsdl:operation name="addurl">
			<wsdl:documentation>WebService for addurl
			</wsdl:documentation>
			<wsdl:input message="tns:addurl_input"/>
			<wsdl:output message="tns:addurl_output"/>
		</wsdl:operation>
		<wsdl:operation name="editurl">
			<wsdl:documentation>WebService for editurl
			</wsdl:documentation>
			<wsdl:input message="tns:editurl_input"/>
			<wsdl:output message="tns:editurl_output"/>
		</wsdl:operation>
		<wsdl:operation name="geturls">
			<wsdl:documentation>WebService for geturls
			</wsdl:documentation>
			<wsdl:input message="tns:geturls_input"/>
			<wsdl:output message="tns:geturls_output"/>
		</wsdl:operation>
		
		
		<wsdl:operation name="editserver">
			<wsdl:documentation>WebService for editserver
			</wsdl:documentation>
			<wsdl:input message="tns:editserver_input"/>
			<wsdl:output message="tns:editserver_output"/>
		</wsdl:operation>
		<wsdl:operation name="getserverfromname">
			<wsdl:documentation>WebService for getserverfromname to a project
			</wsdl:documentation>
			<wsdl:input message="tns:getserverfromname_input"/>
			<wsdl:output message="tns:getserverfromname_output"/>
		</wsdl:operation>
		<wsdl:operation name="addscan">
			<wsdl:documentation>WebService for addscan
			</wsdl:documentation>
			<wsdl:input message="tns:addscan_input"/>
			<wsdl:output message="tns:addscan_output"/>
		</wsdl:operation>
		<wsdl:operation name="addmember">
			<wsdl:documentation>WebService for addmember to a project
			</wsdl:documentation>
			<wsdl:input message="tns:addmember_input"/>
			<wsdl:output message="tns:addmember_output"/>
		</wsdl:operation>
		<wsdl:operation name="deletemember">
			<wsdl:documentation>WebService for deletemember to a project
			</wsdl:documentation>
			<wsdl:input message="tns:deletemember_input"/>
			<wsdl:output message="tns:deletemember_output"/>
		</wsdl:operation>
		<wsdl:operation name="addissue">
			<wsdl:documentation>WebService for addissue to a project
			</wsdl:documentation>
			<wsdl:input message="tns:addissue_input"/>
			<wsdl:output message="tns:addissue_output"/>
		</wsdl:operation>
		<wsdl:operation name="editissue">
			<wsdl:documentation>WebService for editissue to a project
			</wsdl:documentation>
			<wsdl:input message="tns:editissue_input"/>
			<wsdl:output message="tns:editissue_output"/>
		</wsdl:operation>
		<wsdl:operation name="deleteissue">
			<wsdl:documentation>WebService for deleteissue to a project
			</wsdl:documentation>
			<wsdl:input message="tns:deleteissue_input"/>
			<wsdl:output message="tns:deleteissue_output"/>
		</wsdl:operation>
		<wsdl:operation name="deletescan">
			<wsdl:documentation>WebService for deletescan to a project
			</wsdl:documentation>
			<wsdl:input message="tns:deletescan_input"/>
			<wsdl:output message="tns:deletescan_output"/>
		</wsdl:operation>
		<wsdl:operation name="deleteserver">
			<wsdl:documentation>WebService for deleteserver to a project
			</wsdl:documentation>
			<wsdl:input message="tns:deleteserver_input"/>
			<wsdl:output message="tns:deleteserver_output"/>
		</wsdl:operation>
		<wsdl:operation name="deletecode">
			<wsdl:documentation>WebService for deletecode to a project
			</wsdl:documentation>
			<wsdl:input message="tns:deletecode_input"/>
			<wsdl:output message="tns:deletecode_output"/>
		</wsdl:operation>
		<wsdl:operation name="addproject">
			<wsdl:documentation>WebService for addproject
			</wsdl:documentation>
			<wsdl:input message="tns:addproject_input"/>
			<wsdl:output message="tns:addproject_output"/>
		</wsdl:operation>
		<wsdl:operation name="editproject">
			<wsdl:documentation>WebService for editproject
			</wsdl:documentation>
			<wsdl:input message="tns:editproject_input"/>
			<wsdl:output message="tns:editproject_output"/>
		</wsdl:operation>
		<wsdl:operation name="deleteproject">
			<wsdl:documentation>WebService for deleteproject
			</wsdl:documentation>
			<wsdl:input message="tns:deleteproject_input"/>
			<wsdl:output message="tns:deleteproject_output"/>
		</wsdl:operation>
		<wsdl:operation name="getparamsfromalertid">
			<wsdl:documentation>WebService for getparamsfromalertid
			</wsdl:documentation>
			<wsdl:input message="tns:getparamsfromalertid_input"/>
			<wsdl:output message="tns:getparamsfromalertid_output"/>
		</wsdl:operation>
		<wsdl:operation name="finishscan">
			<wsdl:documentation>WebService for finishscan
			</wsdl:documentation>
			<wsdl:input message="tns:finishscan_input"/>
			<wsdl:output message="tns:finishscan_output"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ws_securitybugtracker_Binding" type="tns:ws_securitybugtracker_PortType">
		<soapbind:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="adduser">
			<soapbind:operation soapAction="adduser" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addscan">
			<soapbind:operation soapAction="addscan" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addcode">
			<soapbind:operation soapAction="addcode" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="editcode">
			<soapbind:operation soapAction="editcode" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getcodes">
			<soapbind:operation soapAction="getcodes" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		
		
		<wsdl:operation name="addurl">
			<soapbind:operation soapAction="addurl" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="editurl">
			<soapbind:operation soapAction="editurl" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="geturls">
			<soapbind:operation soapAction="geturls" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		
		<wsdl:operation name="addserver">
			<soapbind:operation soapAction="addserver" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getserverfromname">
			<soapbind:operation soapAction="getserverfromname" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="editserver">
			<soapbind:operation soapAction="editserver" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addmember">
			<soapbind:operation soapAction="addmember" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deletemember">
			<soapbind:operation soapAction="deletemember" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addissue">
			<soapbind:operation soapAction="addissue" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="editissue">
			<soapbind:operation soapAction="editissue" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteissue">
			<soapbind:operation soapAction="deleteissue" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deletescan">
			<soapbind:operation soapAction="deletescan" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteserver">
			<soapbind:operation soapAction="deleteserver" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deletecode">
			<soapbind:operation soapAction="deletecode" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addproject">
			<soapbind:operation soapAction="addproject" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="editproject">
			<soapbind:operation soapAction="editproject" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteproject">
			<soapbind:operation soapAction="deleteproject" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getparamsfromalertid">
			<soapbind:operation soapAction="getparamsfromalertid" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="finishscan">
			<soapbind:operation soapAction="finishscan" style="document"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ws_securitybugtracker">
		<wsdl:port name="ws_securitybugtrackerPort" binding="tns:ws_securitybugtracker_Binding">
			<soapbind:address 
location="http://localhost/security-bugtracker/webissues-server-1.1.4/client/webservices.php"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
