webissues-server-2.0.0/client/webservices.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:t="http://securitybugtracker/V1" targetNamespace="http://securitybugtracker/V1">
	
  
  
	
	<xsd:element name="addscan" type="t:type_addscan"/>
	
	<xsd:complexType name="type_addscan">
		<xsd:sequence>
			<xsd:element name="id_folder_scans" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="description" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="tool" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="filter" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="id_config_openvas" type="xsd:string" nillable="false" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="addscan_Response" type="t:type_addscan_Response"/>
	
	<xsd:complexType name="type_addscan_Response">
		<xsd:sequence>
			<xsd:element name="result_addscan_details" type="t:result_addscan_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:complexType name="result_addscan_details">
		<xsd:sequence>
			<xsd:element name="id_scan" type="xsd:int" nillable="false"/>
		</xsd:sequence>
	</xsd:complexType>
  
	
	
	
		
	
	
	<xsd:element name="addcode" type="t:type_addcode"/>
	
	<xsd:complexType name="type_addcode">
		<xsd:sequence>
			<xsd:element name="id_folder_codes" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="description" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="code" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="addcode_Response" type="t:type_addcode_Response"/>
	
	<xsd:complexType name="type_addcode_Response">
		<xsd:sequence>
			<xsd:element name="result_addcode_details" type="t:result_addcode_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:complexType name="result_addcode_details">
		<xsd:sequence>
			<xsd:element name="id_code" type="xsd:int" nillable="false"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	
	
	<xsd:element name="getcodes" type="t:type_getcodes"/>
	
	<xsd:complexType name="type_getcodes">
		<xsd:sequence>
			<xsd:element name="id_folder_codes" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="getcodes_Response" type="t:type_getcodes_Response"/>
	
	<xsd:complexType name="type_getcodes_Response">
		<xsd:sequence>
			<xsd:element name="result_getcodes_details" type="t:result_getcodes_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:complexType name="result_getcodes_details">
		<xsd:sequence>
			<xsd:element name="id_code" type="xsd:int" nillable="false"/>
			<xsd:element name="name" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="code" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	
	<xsd:element name="editcode" type="t:type_editcode"/>
	
	<xsd:complexType name="type_editcode">
		<xsd:sequence>
			<xsd:element name="id_code" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="id_folder_codes" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="description" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="code" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="editcode_Response" type="t:type_editcode_Response"/>
	
	<xsd:complexType name="type_editcode_Response">
		<xsd:sequence>
			<xsd:element name="result_details" type="t:result_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	
	
	<xsd:element name="addurl" type="t:type_addurl"/>
	
	<xsd:complexType name="type_addurl">
		<xsd:sequence>
			<xsd:element name="id_folder_web" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="description" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="url" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="addurl_Response" type="t:type_addurl_Response"/>
	
	<xsd:complexType name="type_addurl_Response">
		<xsd:sequence>
			<xsd:element name="result_addurl_details" type="t:result_addurl_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:complexType name="result_addurl_details">
		<xsd:sequence>
			<xsd:element name="id_url" type="xsd:int" nillable="false"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	
	
	<xsd:element name="geturls" type="t:type_geturls"/>
	
	<xsd:complexType name="type_geturls">
		<xsd:sequence>
			<xsd:element name="id_folder_web" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="geturls_Response" type="t:type_geturls_Response"/>
	
	<xsd:complexType name="type_geturls_Response">
		<xsd:sequence>
			<xsd:element name="result_geturls_details" type="t:result_geturls_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:complexType name="result_geturls_details">
		<xsd:sequence>
			<xsd:element name="id_url" type="xsd:int" nillable="false"/>
			<xsd:element name="name" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="url" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	
	<xsd:element name="editurl" type="t:type_editurl"/>
	
	<xsd:complexType name="type_editurl">
		<xsd:sequence>
			<xsd:element name="id_url" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="id_folder_web" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="description" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="url" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="editurl_Response" type="t:type_editurl_Response"/>
	
	<xsd:complexType name="type_editurl_Response">
		<xsd:sequence>
			<xsd:element name="result_details" type="t:result_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	
	
	
	
	<xsd:element name="addserver" type="t:type_addserver"/>
	
	<xsd:complexType name="type_addserver">
		<xsd:sequence>
			<xsd:element name="id_folder_servers" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="hostname" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="description" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="use" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ipsaddress" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="addserver_Response" type="t:type_addserver_Response"/>
	
	<xsd:complexType name="type_addserver_Response">
		<xsd:sequence>
			<xsd:element name="result_addserver_details" type="t:result_addserver_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:complexType name="result_addserver_details">
		<xsd:sequence>
			<xsd:element name="id_server" type="xsd:int" nillable="false"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	
	<xsd:element name="getserverfromname" type="t:type_getserverfromname"/>
	
	<xsd:complexType name="type_getserverfromname">
		<xsd:sequence>
			<xsd:element name="id_folder_servers" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="hostname" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="getserverfromname_Response" type="t:type_getserverfromname_Response"/>
	
	<xsd:complexType name="type_getserverfromname_Response">
		<xsd:sequence>
			<xsd:element name="result_getserverfromname_details" type="t:result_getserverfromname_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:complexType name="result_getserverfromname_details">
		<xsd:sequence>
			<xsd:element name="id_server" type="xsd:int" nillable="false"/>
		</xsd:sequence>
	</xsd:complexType>
	
  
  
  
	<xsd:element name="editserver" type="t:type_editserver"/>
	
	<xsd:complexType name="type_editserver">
		<xsd:sequence>
			<xsd:element name="id_server" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="id_folder_servers" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="hostname" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="description" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="use" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ipsaddress" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="editserver_Response" type="t:type_editserver_Response"/>
	
	<xsd:complexType name="type_editserver_Response">
		<xsd:sequence>
			<xsd:element name="result_details" type="t:result_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
  
  
  
  
	<xsd:element name="editissue" type="t:type_editissue"/>
	
	<xsd:complexType name="type_editissue">
		<xsd:sequence>
			<xsd:element name="id_issue" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="id_folder_bugs" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="description" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="assigned" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="state" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="severity" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="version" type="xsd:string" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="cve" type="xsd:string" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="cwe" type="xsd:string" nillable="false" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="editissue_Response" type="t:type_editissue_Response"/>
	
	<xsd:complexType name="type_editissue_Response">
		<xsd:sequence>
			<xsd:element name="result_details" type="t:result_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	
	
	<xsd:element name="deletescan" type="t:type_deletescan"/>
	
	<xsd:complexType name="type_deletescan">
		<xsd:sequence>
			<xsd:element name="id_scan" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="deletescan_Response" type="t:type_deletescan_Response"/>
	
	<xsd:complexType name="type_deletescan_Response">
		<xsd:sequence>
			<xsd:element name="result_details" type="t:result_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	
	
	<xsd:element name="deleteserver" type="t:type_deleteserver"/>
	
	<xsd:complexType name="type_deleteserver">
		<xsd:sequence>
			<xsd:element name="id_server" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="deleteserver_Response" type="t:type_deleteserver_Response"/>
	
	<xsd:complexType name="type_deleteserver_Response">
		<xsd:sequence>
			<xsd:element name="result_details" type="t:result_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	
	
	
	<xsd:element name="deletecode" type="t:type_deletecode"/>
	
	<xsd:complexType name="type_deletecode">
		<xsd:sequence>
			<xsd:element name="id_code" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="deletecode_Response" type="t:type_deletecode_Response"/>
	
	<xsd:complexType name="type_deletecode_Response">
		<xsd:sequence>
			<xsd:element name="result_details" type="t:result_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	<xsd:element name="deleteissue" type="t:type_deleteissue"/>
	
	<xsd:complexType name="type_deleteissue">
		<xsd:sequence>
			<xsd:element name="id_issue" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="deleteissue_Response" type="t:type_deleteissue_Response"/>
	
	<xsd:complexType name="type_deleteissue_Response">
		<xsd:sequence>
			<xsd:element name="result_details" type="t:result_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	<xsd:element name="addissue" type="t:type_addissue"/>
	
	<xsd:complexType name="type_addissue">
		<xsd:sequence>
			<xsd:element name="id_folder_bugs" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="description" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="assigned" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="state" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="severity" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="version" type="xsd:string" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="target" type="xsd:string" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="cve" type="xsd:string" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="cwe" type="xsd:string" nillable="false" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="addissue_Response" type="t:type_addissue_Response"/>
	
	<xsd:complexType name="type_addissue_Response">
		<xsd:sequence>
			<xsd:element name="result_addissue_details" type="t:result_addissue_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:complexType name="result_addissue_details">
		<xsd:sequence>
			<xsd:element name="id_issue" type="xsd:int" nillable="false"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	<xsd:element name="adduser" type="t:type_adduser"/>
	
	<xsd:complexType name="type_adduser">
		<xsd:sequence>
			<xsd:element name="login" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="username" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="password" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="adduser_Response" type="t:type_adduser_Response"/>
	
	<xsd:complexType name="type_adduser_Response">
		<xsd:sequence>
			<xsd:element name="result_adduser_details" type="t:result_adduser_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:complexType name="result_adduser_details">
		<xsd:sequence>
			<xsd:element name="id_user" type="xsd:int" nillable="false"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	<xsd:element name="addmember" type="t:type_addmember"/>
	
	<xsd:complexType name="type_addmember">
		<xsd:sequence>
			<xsd:element name="id_user" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="id_project" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="access" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="addmember_Response" type="t:type_addmember_Response"/>
	
	<xsd:complexType name="type_addmember_Response">
		<xsd:sequence>
			<xsd:element name="result_details" type="t:result_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	
	<xsd:element name="deletemember" type="t:type_deletemember"/>
	
	<xsd:complexType name="type_deletemember">
		<xsd:sequence>
			<xsd:element name="id_user" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="id_project" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="deletemember_Response" type="t:type_deletemember_Response"/>
	
	<xsd:complexType name="type_deletemember_Response">
		<xsd:sequence>
			<xsd:element name="result_details" type="t:result_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	
	<xsd:element name="editproject" type="t:type_editproject"/>
	
	<xsd:complexType name="type_editproject">
		<xsd:sequence>
			<xsd:element name="id_project" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="description" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	      </xsd:complexType>

	<xsd:element name="editproject_Response" type="t:type_editproject_Response"/>
	
	<xsd:complexType name="type_editproject_Response">
		<xsd:sequence>
			<xsd:element name="result_details" type="t:result_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	
	<xsd:element name="addproject" type="t:type_addproject"/>
	
	<xsd:complexType name="type_addproject">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="description" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="addproject_Response" type="t:type_addproject_Response"/>
	
	<xsd:complexType name="type_addproject_Response">
		<xsd:sequence>
			<xsd:element name="id_details" type="t:id_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:complexType name="id_details">
		<xsd:sequence>
			<xsd:element name="id_project" type="xsd:int" nillable="false"/>
			<xsd:element name="id_folder_bugs" type="xsd:int" nillable="false"/>
			<xsd:element name="id_folder_servers" type="xsd:int" nillable="false"/>
			<xsd:element name="id_folder_codes" type="xsd:int" nillable="false"/>
			<xsd:element name="id_folder_web" type="xsd:int" nillable="false"/>
			<xsd:element name="id_folder_scans" type="xsd:int" nillable="false"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="deleteproject" type="t:type_deleteproject"/>
	
	<xsd:complexType name="type_deleteproject">
		<xsd:sequence>
			<xsd:element name="id_project" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="deleteproject_Response" type="t:type_deleteproject_Response"/>
	
	<xsd:complexType name="type_deleteproject_Response">
		<xsd:sequence>
			<xsd:element name="result_details" type="t:result_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:complexType name="result_details">
		<xsd:sequence>
			<xsd:element name="result" type="xsd:boolean" nillable="false"/>
		</xsd:sequence>
	</xsd:complexType>
	
	

	<xsd:element name="getparamsfromalertid" type="t:type_getparamsfromalertid"/>
	
	<xsd:complexType name="type_getparamsfromalertid">
		<xsd:sequence>
			<xsd:element name="id_alert" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="getparamsfromalertid_Response" type="t:type_getparamsfromalertid_Response"/>
	
	<xsd:complexType name="type_getparamsfromalertid_Response">
		<xsd:sequence>
			<xsd:element name="getparamsfromalertid_details" type="t:getparamsfromalertid_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:complexType name="getparamsfromalertid_details">
		<xsd:sequence>
			<xsd:element name="id_folder_bugs" type="xsd:int" nillable="false"/>
			<xsd:element name="id_target" type="xsd:string" nillable="false"/>
			<xsd:element name="id_task" type="xsd:string" nillable="false"/>
			<xsd:element name="id_report" type="xsd:string" nillable="false"/>
			<xsd:element name="id_alert" type="xsd:string" nillable="false"/>
			<xsd:element name="severity" type="xsd:int" nillable="false"/>
		</xsd:sequence>
	</xsd:complexType>
	
	

	<xsd:element name="finishscan" type="t:type_finishscan"/>
	
	<xsd:complexType name="type_finishscan">
		<xsd:sequence>
			<xsd:element name="id_scan" type="xsd:int" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="data_report" type="xsd:string" nillable="false" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:element name="finishscan_Response" type="t:type_finishscan_Response"/>
	
	<xsd:complexType name="type_finishscan_Response">
		<xsd:sequence>
			<xsd:element name="result_details" type="t:result_details" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>



</xsd:schema>
